{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    404 Whoops! We couldn't find that.
{% endblock %}

{% block banner %}
    <section class="wy-banner">
        <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
        <h1>404 Whoops! We couldn't find that.</h1>
    </section>
{% endblock %}

{% block content %}
    <section class="wy-body">
        <p>Sorry about that.</p>
    </section>
{% endblock %}
