{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    Uh Oh! Something Went Wrong...
{% endblock %}

{% block banner %}
    <section class="wy-banner">
        <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
        <h1> Uh Oh! Something Went Wrong...</h1>
    </section>
{% endblock %}

{% block content %}
    <section class="wy-body">
        <p>Sorry about that.</p>
    </section>
{% endblock %}
