<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/_layout/system.css">
    <link rel="stylesheet" type="text/css" href="/css/text.css">
    <link rel="stylesheet" type="text/css" href="/css/table.css">
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %} | Wyeside Arts System</title>
</head>
<body>
<div id="wrapper">
    <div id="sidebar">
        <div id="logo">
            <img src="/img/wyeside-logo.png" width="157" height="49" alt="Wyeside Arts" title="Wyeside Arts" >
        </div>
        <div id="navigation">
            <ul>
                <li><a href="/system/events">Events</a></li>
                <li><a href="/system/blog">Blog</a></li>
                <li><a href="/system/users">Users</a></li>
            </ul>
        </div>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">

    </div>
</div>
</body>
</html>