{% extends "backend/_layouts/system.twig" %}

{% block head %}

{% endblock %}

{% block title %}Users{% endblock %}

{% block content %}
    <div class="block-dark">
        <h1>Blog</h1>
    </div>

    <div class="block-light">
        <div id="blog-table">
            {% include "backend/blog/_posts-table.twig" %}
        </div>
    </div>
{% endblock %}