{% extends "backend/_layouts/system.twig" %}

{% block head %}
    <link href="/css/backend/events/create.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}Events{% endblock %}

{% block content %}
    <div class="block-dark">
        <h1 style="background-color: {{ event.getTypePrimaryColor() }};">+ {{ event.getTypeName() }}</h1>
    </div>

    <div class="block-light">
        {% include "backend/events/_events-form.twig" %}
    </div>

    <script type="text/javascript">
        document.getElementById('title').focus();
    </script>
{% endblock %}