{% extends "_layouts/system.twig" %}

{% block head %}
    <link href="/css/backend/events/create.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}Events{% endblock %}

{% block content %}
    <h1 style="background-color: {{ event.getTypePrimaryColor() }};">{{ event.getTypeName() }}</h1>
    <hr>

    {% include "backend/events/_events-form.twig" %}

{% endblock %}