{% extends "_layouts/system.twig" %}

{% block head %}
    <link href="/css/backend/events/create.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}Events{% endblock %}

{% block content %}
    <h1 style="background-color: {{ event.getTypePrimaryColor() }};">{{ event.getTypeName() }}</h1>
    <div class="tab-group">
        <div class="tab-object tab-active">Details</div>
        <div class="tab-object">Images</div>
        <div class="tab-object">Dates &amp; Times</div>
    </div>
    <hr>

    {% include "backend/events/_events-form.twig" %}

{% endblock %}