{% extends "backend/_layouts/system.twig" %}

{% block head %}
    <link href="/css/backend/events/create.css" rel="stylesheet" type="text/css">
    <script src="/js/backend/events/import.js" type="text/javascript"></script>

    <script id="events-table-template" type="text/x-handlebars-template">
        {{ source('backend/events/_hbs/import-events-table.hbs') }}
    </script>
{% endblock %}

{% block title %}Events{% endblock %}

{% block content %}
    <div class="block-dark">
        <h1 style="background-color: #333;">Import Events From TicketSolve</h1>
    </div>

    <div id="wrapper-div">
        <div id="loading-icon" style="text-align: center; padding-top:20px;">
            <img src="/img/backend/spinner.gif">
            <p style="padding-top:10px;font-size:1.5em;">Querying Ticketsolve...</p>
        </div>
        <div id="results"></div>
    </div>

    <script type="text/javascript">
        var importManager = new ImportManager();
        importManager.downloadFeed();
    </script>

{% endblock %}