{% extends "backend/_layouts/system.twig" %}

{% block head %}
    <link href="/css/backend/events/create.css" rel="stylesheet" type="text/css">
    <script src="/js/backend/events/import.js" type="text/javascript"></script>
{% endblock %}

{% block title %}Events{% endblock %}

{% block content %}
    <div class="block-dark">
        <h1 style="background-color: #333;">Import Events From TicketSolve</h1>
    </div>

    <div class="block-light">
        <div id="import-events">
            <div style="text-align: center">
                <img src="/img/backend/spinner.gif">
                <p style="padding-top:10px;font-size:1.5em;">Querying Ticketsolve...</p>
            </div>
        </div>
    </div>

{% endblock %}