{% extends "_layouts/system.twig" %}
{% import "_macros/pageNumbers.twig" as pages %}

{% block title %}Events{% endblock %}

{% block content %}
    <h1>Event Listings</h1>
    <div class="system-btn">New Event</div>
    <hr>

    <div id="events-table">
        {% include "backend/events/_events-table.twig" %}
    </div>
{% endblock %}