{% extends "backend/_layouts/system.twig" %}
{% import "backend/_macros/pageNumbers.twig" as pages %}

{% block head %}
    <link href="/css/backend/events/index.css" rel="stylesheet" type="text/css">
    <script src="/js/backend/events/index.js" type="text/javascript"></script>
{% endblock %}

{% block title %}Events{% endblock %}

{% block content %}
    <div class="block-dark">
        <div class="event-button event-import" onclick="window.location.href='/system/events/import/ticketsolve'">
            Ticketsolve
        </div>

        <div class="event-button event-live" onclick="window.location.href='/system/events/create/2'">
            Live
        </div>
        <div class="event-button event-sat-live" onclick="window.location.href='/system/events/create/4'">
            Satellite Live!
        </div>
        <div class="event-button event-cinema" onclick="window.location.href='/system/events/create/1'">
            Cinema
        </div>
        <div class="event-button event-workshop" onclick="window.location.href='/system/events/create/5'">
           Workshop
        </div>
        <div class="event-button event-gallery" onclick="window.location.href='/system/events/create/6'">
            Gallery
        </div>
    </div>
    <div class="block-light">
        <div style="float:right">
            <label for="eventSearch" style="text-align:right;padding-right:5px;">Search</label>
            <input type="text" id="eventSearch" onkeyup="pageinator.update('events-table')">
        </div>
        <div id="events-table">
            {% include "backend/events/_events-table.twig" %}
        </div>
    </div>
{% endblock %}