{% extends "_layouts/system.twig" %}

{% block title %}Events{% endblock %}

{% block content %}
    <h1>Event Listings</h1>
    <div class="system-btn">New Event</div>
    <hr>

    <table class="system-table">
        <tr>
            <th>Type</th>
            <th>Event</th>
            <th>Status</th>
        </tr>
        {% for event in page.getResults() %}
            <tr>
                <td>
                    <span class="bold" style="color:{{ event.getTypePrimaryColor() }}">
                        {{ event.getTypeName() }}
                    </span>
                </td>
                <td>{{ event.getTitle() }}</td>
                <td>
                    {% if event.getStatus() == true %}
                        <span class="green-text bold">Open</span>
                    {% else %}
                        <span class="red-text bold">Closed</span>
                    {%  endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}