* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#sidebar {
    width: 175px;
    border-right: solid 5px #171313;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #31373F;
    padding-top:80px;
}

#logo {
    position: absolute;
    left:10px;
    top:20px;
}

#navigation {
    padding-top:20px;
}

#navigation ul {
    list-style-type: none;
}

#navigation ul li a {
    text-align: right;
    display: block;
    text-decoration: none;
    color:#fff;
    padding-top:8px;
    padding-bottom:8px;
    padding-right:12px;
}

#navigation ul li a:hover {
   background-color: #414953;
}

#content {
    margin-left:180px;
    padding-left: 10px;
    padding-top:20px;
    padding-right: 10px;
    position: relative;
}