* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#sidebar {
    width: 180px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #273A4A;
    padding-top:80px;
}

#logo {
    position: absolute;
    left:10px;
    top:20px;
}

#navigation {
    padding-top:20px;
    letter-spacing: 1px;
}

#navigation ul {
    list-style-type: none;
}

#navigation ul li a {
    display: block;
    text-decoration: none;
    color:#a7b1c2;
    padding-top:12px;
    padding-bottom:12px;
    padding-left:12px;
    font-size:0.9em;
    font-weight:bold;
    border-bottom: dashed 1px transparent;
    border-top: dashed 1px transparent;
}

#navigation ul li a:hover {
   background-color: #385470;
}
#navigation ul .current-module a {
    background-color: #385470;
    border-color:#ccc;
}

#navigation ul li a img {
    width:24px;
    height:24px;
    margin-right:10px;
    vertical-align: middle;
}


#content {
    margin-left:180px;
    position: relative;
}

.block-dark, .block-light {
    padding:15px;
    position: relative;
}

.block-dark {
    background-color: #F3F3F4;
    border-bottom: solid 1px #ccc;
}

.block-light {
    background-color: #FFFFFF;
    border-bottom: solid 1px #ccc;
}

.title-button {
    padding:8px 20px;
    color:#ffffff;
    border-radius: 3px;
    background-color:#46B7A0;
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    margin-left:10px;
    cursor:pointer;
    font-size:1.2em;
    letter-spacing: 1px;
}

.title-button:hover {
    background-color: #3B8273;
}

