{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    Histroy: 2000 - Present
{% endblock %}

{% block slider %}
	{% include 'frontend/_partials/slider.twig' %}
{% endblock %}

{% block banner %}
<section class="wy-banner type--{{ type }}">
    <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
    <h1>History<br />2000 - Present</h1>
</section>
{% endblock %}

{% block content %}
<section class="wy-body">
    <p>Under director Guy Roderick, the start of the 21st century has seen Wyeside undertake a major programme of improvements and
        modernisation to retain its viability as an independent venue. Over the first six years of Guy's directorship Wyeside's staff
        and supporters worked hard to write off the venue’s potentially crippling accumulated debts, stabilising the company and securing
        a more sustainable future. In 2001, the Castle Cinema was extensively refurbished. With new seating and technical facilities to
        rival many modern multiplex cinemas, the cinema has continued to draw and increase audiences from a wide geographic spread.
        As an independent cinema, Wyeside can show a mixture of independent productions, documentaries and classic oldies as well as
        mainstream blockbusters, reaching the widest possible audience.</p>
    <p>Wyeside Arts Centre continues to present an increasing range of live performances and films, subsidised ticket prices for those
        aged 18 and under, and is currently working to raise funds for a major restoration of the Market Theatre downstairs. Common to
        all arts organisations funding is an issue for the organisation but the Centre continues to have ambitious plans for its future,
        and retains the working philosophy that Donald Jones gave it at its birth – to bring the experience of high-quality arts into the
        scope of the local community, and particularly to offer an experience of culture to the young people of the town and Mid-Wales.</p>

    <hr />

    <a class="wy-button" href="/about/history">Back to History</a>
</section>
{% endblock %}
