{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    History
{% endblock %}

{% block slider %}
	{% include 'frontend/_partials/slider.twig' %}
{% endblock %}

{% block banner %}
<section class="wy-banner type--{{ type }}">
    <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
    <h1>Our<br />History</h1>
</section>
{% endblock %}

{% block content %}
{% endblock %}
