{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    Histroy: 1971 - 1999
{% endblock %}

{% block slider %}
	{% include 'frontend/_partials/slider.twig' %}
{% endblock %}

{% block banner %}
<section class="wy-banner type--{{ type }}">
    <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
    <h1>History<br />1971 - 1999</h1>
</section>
{% endblock %}

{% block content %}
<section class="wy-body">
    <p>In 1971 Mrs Pugh died suddenly; her trustees set up a charitable trust – Wyeside Arts Centre Ltd – which in October 1976 acquired the
        buildings by a deed of gift from Donald Jones and Eddie Turner, and work began on the scheme to give Builth Wells a Centre for the Arts.
        The occupiers of the shops at street level were given notice so that the conversion work could begin. The new Wyeside Arts Centre was opened
        by Lady Anglesey, Chair of the Welsh Arts Council and daughter of Builth's distinguished novelist Hilda Vaughan.</p>
    <p>Description: 1973 view of WyesideThe birth of Wyeside Arts Centre was not without its controversy. The tenants of the first floor shops had
        been displaced and Builth was at the time without a Sports Centre or indoor swimming pool. Did Builth need an Arts Centre? What emerged was
        essentially the vision of its founding Chairman, Donald Jones, who believed that only by enriching the cultural life of a community and by
        providing entertainment facilities well beyond what one could normally expect in a small town with a tiny population, could the future prosperity
        of the area be secured. It was a remarkable achievement by a remarkable man. The first administrator of Wyeside, Chris Baldwin (who had been the
        theatre and lighting designer for the remodelled building) produced an imaginative and ambitious programme of events for the early years.</p>
    <p>On 30 June 1980, the newly formed Friends of Wyeside held their first meeting. Their aims, as volunteers, were to promote the activities of
        the arts centre, to provide help and financial support. Since the first meeting, the Friends have enlisted supporters from as far afield as London and
        Birmingham, and have raised many thousands of pounds to buy equipment and other items for the Centre. They also act as ushers for live performances and
        film shows and staff the bar. In 1983, when Wyeside faced a threat of closure, the Friends wrote personally to every councillor in Brecon &amp; Radnorshire,
        to every organisation and business – anyone who could add their influence to prevent closure. This avalanche of support helped persuade the local
        authorities and the Arts Council to continue financial support to Wyeside, and the crisis was over.</p>
    <p>After thirteen years as Wyeside's chairman (and, for a time, manager) Donald Jones retired in 1989, and was succeeded by Dr Terry Watson, a local
        GP (and opera lover), who had chaired the Centre's Programme Committee since 1978. During the 1980s and 1990s, the Arts Centre's programme broadened
        and expanded whilst retaining traditional community events, and the Centre became the home to successful Kidsfests and the award winning Mid Powys Youth
        Theatre. In 1997 Dr Watson handed over the Chairmanship of the Centre to Dr Bernard Jones, Head of English at Builth Wells High School who, like his
        predecessor, had served as Programme Committee chair. The scope of the Centre's activities continued to develop as the Centre ran the biggest Science
        Engineering and Technology events in Wales, and became the acknowledged field-leader in Wales in the development of Information Technology for the Arts.</p>
    <p>In 1998, months before the 20th Anniversary of the opening of the Arts Centre to which he had given so much, Donald Jones died suddenly.
        His drive, vision and energy gave this small Welsh Market town a theatre the envy of many communities a hundred times larger: it is part of
        his legacy that so many other towns in Wales have been moved to build arts facilities of their own.</p>

    <hr />

    <a class="wy-button" href="/about/history">Back to History</a>
    <a class="wy-button" href="2000">On to History: 2000 - Present</a>

</section>
{% endblock %}
