{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    Histroy: 1911 - 1971
{% endblock %}

{% block banner %}
<section class="wy-banner type--{{ type }}">
    <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
    <h1>History<br />1911 - 1971</h1>
</section>
{% endblock %}

{% block content %}
<section class="wy-body">
    <p>At the end of the Edwardian years, moving pictures became all the rage, and travelling cinemas were hugely popular with rural audiences until they were
        put out of business by the 1909 Cinematographic Act; so in 1911 the Assembly Rooms were converted into the Kino Cinema showing pictures by Welsh film-makers,
        later ousted by American blockbusters by directors such as DW Griffith. Musical accompaniment at the Kino was by Mrs Mackay on piano and Mr Taylor on violin,
        right through the silent era, until they were made redundant by the invention of the Talkies.</p>
    <p>In 1924 the Market Hall complex was bought by Mr Worthington of The White Horse Inn, and in 1927 he invested in the technology to show the new sensation:
        talking pictures. The Singing Fool, starring Al Jolson (the follow-up to The Jazz Singer), was shown at the Kino in 1928. Mr Worthington died on 13 May 1937
        and left the Market Hall and Kino cinema  to his daughter, Mrs Elizabeth Pugh. Realising that the Kino was in much need of refurbishment, Mrs Pugh leased the
        cinema to E. Taylor's 'Castle Cinema' chain, and the Kino became the Castle.</p>
    <p>The 1930s and 1940s were a time of great prosperity for the cinema. One local couple went twice a week, always sitting in seats H1 and H2: when the cinema
         was next refurbished they were presented with their seats which they used in their sitting room. Another local woman went to the cinema every Monday and
          Thursday until well into her nineties, sitting in the same reserved seat and making good use of her free 'long service' pass.</p>
    <p>Elizabeth PughIn the late 1960s, when the cinema was suffering the same slow economic decline as the town and the rest of rural Mid Wales, Mrs Pugh (widowed and
        with no children) wanted to make sure the buildings continued to benefit the local community. She discussed the future of the building with her trustees,
        solicitor Donald Pryse Jones and solicitors clerk Edward 'Eddie' Turner, and the idea for Wyeside Arts Centre was born. Preliminary discussions took place
        with the Welsh Arts Council and Theatre Projects Ltd.</p>

    <hr />

    <a class="wy-button" href="/about/history">Back to History</a>
    <a class="wy-button" href="1971">On to History: 1971 - 1999</a>

</section>
{% endblock %}
