{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    Histroy: 1870 - 1877
{% endblock %}

{% block banner %}
<section class="wy-banner type--{{ type }}">
    <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
    <h1>History<br />1870 - 1877</h1>
</section>
{% endblock %}

{% block content %}
<section class="wy-body">
    <p>By the 1870s, Builth had become Builth Wells, an increasingly prosperous Spa town attracting visitors from a distance, thanks to
        the railway. Diarist Francis Kilvert, curate at St Michael’s, Clyro, described the 'glamour and enchantment' emanating from the
        'shining slate roofs of Builth and the bridge.' But despite impressing the Rev Kilvert, Builth – the main market town in the area
        – still had no covered market hall (farm produce was sold from stalls amongst the High Street livestock market), no assembly rooms nor even a concert hall.</p>
    <p>Aware of their growing town’s deficiencies, two townsmen formed groups to rectify the situation. Mr Bligh of Cilmeri Park began work on what is now the Strand
        Hall whilst wine merchant John Davies gathered together a rival consortium to develop a building which would combine market hall, assembly rooms and concert
        hall. Davies and his colleagues established the Builth Public Hall & Market Committee and in 1876 formed a limited company with a capital of £3,000 in £5 and £10 shares.</p>

    <h3 class="wy-body__title" style="color:#f53617">Original Shareholders and Officers:</h3>
    <ul>
        <li>- John Davies (Chairman)</li>
        <li>- Thomas Thomas (Secretary &amp; Treasurer)</li>
        <li>- Thomas Joseph, Oaklands</li>
        <li>- Augustus Ley Bazeley, Solicitor</li>
        <li>- Evan Owen, Clerk to the Justices</li>
        <li>- John Powell, White House</li>
        <li>- William Thomas, Chemist</li>
        <li>- WH Weatherley, Nurseryman</li>
        <li>- David Williams</li>
        <li>- Rev William Williams, Maesmynis</li>
    </ul>
    <p>The company bought a terrace of picturesque but tumbledown cottages known as Bridge Row to the east of the recently renovated
        bridge across the Wye, and commissioned designs through a public competition for a covered market hall and assembly rooms.
        The winning design was by Haddon Bros. of Hereford was in the Italianate style, and was completed in 1877.</p>
    <p>The Assembly Rooms upstairs (now the Castle Cinema) could seat 500 people in the main space and the gallery, and was used
        for concerts, dances and public meetings. At street level was a row of shops, originally occupied by a wine merchant (probably
        John Davies), a shoemaker and an outfitter. Since then there has been a newsagent, barber’s shop, sweet shop, labour exchange,
        watchmaker, greengrocer and the first Builth Branch Library. The market hall at river level was reached by a flight of stone steps
        flanked by small lock-up stalls, and the hall itself had larger stalls in attractive archways (still to be seen). On the south façade
        of the building were terracotta medallions of Shakespeare, Haydn and Mozart, with the Builth coat of arms over the market entrance,
        and the Welsh harp (the company’s seal) over the doorway.</p>
    <p>The building was opened with a grand ceremony performed by Sir Joseph Bailey MP on 30 November 1877. The event was attended by
        a large and fashionable crowd including 'a good sprinkling of the aristocracy of the neighbourhood.' The celebrations included
        two concerts to raise funds for the fine clock that was to adorn the Hall's central spire. The matinee concert at 3 o’clock comprised
        16 musical items with encores; in the evening show at 7 o’clock were 22 items plus encores. The review in the Brecon &amp; Radnor newspaper
        heaped lavish praise on the harpist, the Glee party and the soloists, but was less enthusiastic about the pianoforte players.
        ‘We have only one word to say, they were played with great skill but at the same time they were too long and became absolutely wearisome.’</p>

    <hr />

    <a class="wy-button" href="/about/history">Back to History</a>
    <a class="wy-button" href="1877">On to History: 1877 - 1911</a>

</section>
{% endblock %}
