{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    History
{% endblock %}

{% block banner %}
<section class="wy-banner type--{{ type }}">
    <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
    <h1>Our<br />History</h1>
</section>
{% endblock %}

{% block content %}
<section class="wy-body">
    <p>Wyeside Arts Centre has a long and colourful history, and at its heart is the commitment of the local community to make great arts available in Builth and the surrounding area.  Click below to find out more:</p>
    <ul>
        <li><a href="history/1870">1870 - 1877</a></li>
        <li><a href="history/1877">1877 - 1911</a></li>
        <li><a href="history/1911">1911 - 1971</a></li>
        <li><a href="history/1971">1971 - 1999</a></li>
        <li><a href="history/2000">2000 - Present</a></li>
    </ul>
    <br />
    <em>Our thanks to Arabella McIntyre-Brown, who compiled these pages from existing documents and historical resources at Wyeside Arts Centre.</em>

    <hr />

    <img src="/img/frontend/img/history-1880.jpg" alt="1880" style="margin:1em 0;"/>
</section>
{% endblock %}
