{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    Job Opportunities
{% endblock %}

{% block banner %}
<section class="wy-banner type--{{ type }}">
    <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
    <h1>Job<br />Opportunities</h1>
</section>
{% endblock %}

{% block content %}
<section class="wy-body">
    <p>Currently there are no other jobs available at Wyeside Arts Centre.</p>
    <p>We are always looking for more volunteers - if you'd like to find out more information on unpaid work, please visit our <a href="/support/volunteers">Volunteers Page</a>.</p>
</section>
{% endblock %}
