{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    Our Team
{% endblock %}

{% block banner %}
<section class="wy-banner type--{{ type }}">
    <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
    <h1>Our<br />Team</h1>
</section>
{% endblock %}

{% block content %}
{% endblock %}
