{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    Our Team
{% endblock %}

{% block banner %}
<section class="wy-banner type--{{ type }}">
    <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
    <h1>Our<br />Team</h1>
</section>
{% endblock %}

{% block content %}
<section class="wy-body">
    <p>Wyeside is an independently run charity (registered charity number: 505656), which means that we are a not-for-profit organisation. Therefore, any profit we make goes straight back into funding our diverse programme.</p>
    <h2 class="wy-body__title" style="color:#f53617">Board of Trustees</h2>
    <ul>
        <li>Barbara Stow: Chair</li>
        <li>Maureen MacKenzie: Deputy</li>
        <li>Richard Rathbone: Deputy</li>
        <li>Carolyn Lancaster: Sectary</li>
        <li>Sue Bestr</li>
        <li>Wendy Evans</li>
        <li>Bernard Jones</li>
        <li>Tony Layton</li>
        <li>David Lloyd</li>
        <li>Aeron Preston</li>
        <li>David Price</li>
        <li>John Walker</li>
    </ul>
    <br />

    <hr />

    <h2 class="wy-body__title" style="color:#f53617">Staff</h2>
    <ul>
        <li><strong>General Manager:</strong></li>
        <li>Jill Mustafa</li>
        <li><a href="mailto:generalmanager@wyeside.co.uk">generalmanager@wyeside.co.uk</a></li>
    </ul>
    <br />
    <ul>
        <li><strong>Finance Officer:</strong></li>
        <li>Robert Warlow</li>
        <li><a href="mailto:finance@wyeside.co.uk">finance@wyeside.co.uk</a></li>
    </ul>
    <br />
    <ul>
        <li><strong>Marketing Manager:</strong></li>
        <li>Miriam Hall</li>
        <li><a href="mailto:marketing@wyeside.co.uk">marketing@wyeside.co.uk</a></li>
    </ul>
    <br />
    <ul>
        <li><strong>Marketing Assistants:</strong></li>
        <li>Owen Lawrence (<a href="mailto:owen@wyeside.co.uk">owen@wyeside.co.uk</a>)</li>
        <li>Jill Thomas</li>
    </ul>
    <br />
    <ul>
        <li><strong>Technician, Chief Projectionist &amp; Buildings Manager</strong></li>
        <li>Tim Ferrett</li>
        <li><a href="mailto:technician@wyeside.co.uk">technician@wyeside.co.uk</a></li>
    </ul>
    <br />
    <ul>
        <li><strong>Projectionists:</strong></li>
        <li>Jamie Leeton Bunker</li>
        <li>Jed Heartley</li>
    </ul>
    <br />
    <ul>
        <li><strong>Administration Assistant:</strong></li>
        <li>Alison Williams</li>
    </ul>
    <br />
    <ul>
        <li><strong>Duty Managers:</strong></li>
        <li>Robert Barratt</li>
        <li>Owen Lawrence</li>
    </ul>
    <br />
    <ul>
        <li><strong>Box Office Assistants:</strong></li>
        <li>Phoebe Davies</li>
        <li>Shelby Parker</li>
        <li>Annie Pearson</li>
    </ul>
    <br />
    <ul>
        <li><strong>Cleaners:</strong></li>
        <li>Jill Thomas</li>
        <li>Chris Hays</li>
    </ul>
    <br />
  </section>
{% endblock %}
