{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    Who We Are
{% endblock %}

{% block slider %}
	{% include 'frontend/_partials/slider.twig' %}
{% endblock %}

{% block banner %}
<section class="wy-banner">
    <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
    <h1>Who<br />We Are</h1>
</section>
{% endblock %}

{% block content %}
<section class="wy-body">
    <p>
        Set in the heart of mid Wales, and perched upon the brink of the picturesque river Wye in the market town of Builth Wells,
        Wyeside Arts Centre is a presenting venue for live and visual arts and cinema. Wyeside’s varied programme ranges from Cerys
        Matthews to Tchaikovsky and from Pinter to panto – with the likes of Lucy Porter at the microphone or Courtney Pine on sax.
        These highlights reflect the centre's fundamental commitment to presenting a programme of arts and entertainment of real breadth
         and quality, that is accessible to all people.
    </p>
    <p>
        To find out more about Wyeside’s programme of live events and cinema, please visit the 'what’s on' pages.  To find out more about
        the centre’s past, visit the history page.
    </p>
    <p>
        In addition to Wyeside’s programme of public arts events, its central Wales location, friendly and expert staff and its excellent
        range of facilities also make this an ideal venue for business meetings, private functions and conferences. Wyeside is also
        available to hire as a performance space for both amateur and professional groups. For more information, please visit the conference
        and hire pages.
    </p>
</section>
{% endblock %}
