{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    Who We Are
{% endblock %}

{% block banner %}
<section class="wy-banner">
    <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
    <h1>Who<br />We Are</h1>
</section>
{% endblock %}

{% block content %}
<section class="wy-body">
    <h2 class="wy-body__title" style="color:#f53617">Our Mission</h2>
    <p>Our mission is for Wyeside Arts Centre to be at the heart of our community. We aim to reach out to all, in mid-Powys and beyond, to present the best in live, film and community arts to entertain, educate and excite, at our unique and welcoming venue.</p>
    <p>Wyeside aims to nurture inspiration, participation, creativity and curiosity.</p>

    <hr />

    <h2 class="wy-body__title" style="color:#f53617">How We’re Run</h2>
    <p>Wyeside is an independently run charity (registered charity number: 505656), which means that we are a not-for-profit organisation. Therefore, any profit we make goes straight back into funding our diverse programme.</p>
    <p>We are governed by an active Board of Trustees. We have a total of 13 part-time members of staff (no full-time), and approx. 30 volunteers.</p>
    <p>For more information on our funders and supporters, or to find out how you can help, please visit our Support Us page.</p>

    <hr />

    <h2 class="wy-body__title" style="color:#f53617">What We Offer</h2>
    <p>Our historical Grade II listed building is set in the heart of mid Wales, and perched upon the brink of the picturesque river Wye in the market town of Builth Wells. Wyeside Arts Centre is a presenting venue for live and visual arts, cinema, and live satellite broadcasts. We have two auditoriums (the Castle Cinema and the Market Theatre), gallery, meeting space, the recently installed Window on the Wye which provides a working space for visual artists, bar and foyer.</p>
    <p>Our varied live programme ranges all the way from Hazel O’Connor to Tchaikovsky and from Shakespeare to panto – with the likes of Lee Evans and Jeremy Hardy at the microphone or Martyn Simpson on guitar. These highlights reflect our pledge to present a programme of arts and entertainment of real breadth and quality, which is accessible to all. We also ensure that there is plenty going on for younger audiences; you’re likely to see live shows, workshops and film titles especially programmed during the holiday periods!</p>
    <p>We do our best to ensure that the cinema programme is equally varied, with a good balance of Hollywood blockbusters and independent cinema. With up to 6 film screenings a day during you are sure to find something to suit your interests.</p>
    <p>The latest string to our bow are our Satellite Live broadcasts – now you no longer need to travel hundreds of miles to see the world’s most gifted singers, dancers and actors, because we stream them LIVE straight onto our cinema screen! We broadcast whole seasons from all the best venues – the Metropolitan Opera from New York, the Royal Opera House &amp; Royal Ballet from Covent Garden, The National Theatre from London, Royal Shakespeare Company from Stratford-upon-Avon, to name a few.</p>
    <p>Our bar offers a wide range of soft and alcoholic drinks, plus all the ice-cream, popcorn &amp; sweets you can eat. Customers are welcome to take their purchases into the auditorium with them - a rare luxury these days! There’s nothing quite like watching your favourite performer while drinking a glass of locally brewed beer, or cwtching up with a good film and a steaming hot mug of fairtrade coffee!</p>

    <hr />

    <img src="/img/frontend/img/who-we-are.jpg" alt="Wyeside Arts Centre" style="margin:1em 0;"/>
</section>
{% endblock %}
