.tab-group {
    display:block;
    padding-top: 5px;
    font-size:0.9em;
}
.tab-object {
    display: inline-block;
    background-color: #333;
    color:#fff;
    padding: 10px 20px 10px 30px;
    margin-right:3px;
    cursor: pointer;
    position: relative;
}
.tab-object:hover {
    opacity: 0.8;
}
.tab-active:before,
.tab-object:hover:before {
    content:"";
    position:absolute;
    top:10px;
    left:10px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 8px solid #ffffff;
    border-bottom: 8px solid transparent;
}