.tab-group {
    display:inline-block;
    margin-top: 5px;
    font-size:1.1em;
    letter-spacing: 2px;
    border:solid 1px #777;
    border-radius: 1px;
    background-color: #151515;
}
.tab-object {
    opacity: 0.4;
    display: inline-block;
    color:#fff;
    padding: 10px 20px 10px 30px;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    user-select: none;
    text-align: center;
}
.tab-object img {
    display: inline-block;
    width:32px;
    height: 32px;
}
.tab-active, .tab-object:hover {
    opacity: 1;
}
.tab-page {
    display: none;
}
.tab-page-active {
    display: block;
}
