.system-table{
    border-spacing: 0;
    font-size: 0.9em;
    width:100%;
    max-width: 1800px;
    min-width: 300px;
    table-layout: fixed;
}
.system-table tr th{
    text-align: left;
    background-color: #31373F;
    color: #fff;
    padding: 10px 10px 7px 10px;
    border-bottom: solid 3px #F53617;
}
.system-table tr td {
    border-bottom: dashed 1px #ddd;
    padding: 6px 10px 6px 10px;
    color: #333;
}
.system-table tr:hover td {
    background-color: #F3FACD;
}
.system-table td a {
    color: mediumslateblue;
    text-decoration: none;
    font-size:0.9em;
}
.system-table td a:hover {
    text-decoration: underline;
}