{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    Friends
{% endblock %}

{% block banner %}
<section class="wy-banner">
    <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
    <h1>Our<br />Friends</h1>
</section>
{% endblock %}

{% block content %}
<section class="wy-body">
    <h1 class="wy-body__title" style="color:#f53617">Friends of Wyeside</h1>
    <h2 class="wy-body__title" style="color:#f53617">Will you be a Friend of Wyeside?</h2>
    <p>Wyeside benefits from the efforts of our dedicated team of professional staff, a highly committed Board of Trustees, tremendous support from the Front of House volunteers and ...
    <h2 class="wy-body__title" style="color:#f53617">.... the Friends of Wyeside!</h2>
    <p>Wyeside is an independent charity - every single penny we make goes straight back into our programme. But when it comes to
        financing special projects we may need some extra help... that’s where our Friends come in.</p>
    <p>Over the years, money from our Friends has helped us with many major projects - refurbishing our Market Theatre and Gallery, installing 3D digital projectors and major repairs to the stonework of our historic building.</p>
    <p>You can become a Wyeside Friend from as little as £5 a month. You’ll gain a wealth of benefits - plus the satisfaction of knowing you are helping
        to keep Wyeside alive for generations to come!Over the years, money from our Friends has helped us with many major projects - refurbishing our
        Market Theatre and Gallery, installing 3D digital projectors and major repairs to the stonework of our historic building.</p>
    <p>The Friends application form can be downloaded <a href="../../../_files/_uploads/Friends Leaflet V4.pdf">here</a>, or can be collected from the Box Office.</p>

    <hr />

    <h1 class="wy-body__title" style="color:#f53617">One Off Donations</h1>
    <p>Instead of joining our Friends team, would you rather make a one off donation? It's easy to do, please visit our online donations page <a href="https://mydonate.bt.com/charities/wyesideartscentre">here</a>.</p>

    <hr />
</section>
{% endblock %}
