{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    Friends
{% endblock %}

{% block banner %}
<section class="wy-banner">
    <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
    <h1>Our<br />Friends</h1>
</section>
{% endblock %}

{% block content %}
<section class="wy-body">
    <h2 class="wy-body__title" style="color:#f53617">Friends Scheme</h2>
    <h3 class="wy-body__title" style="color:#f53617">Will you be a Friend of Wyeside?</h3>
    <p>Wyeside benefits from the efforts of our dedicated team of professional staff, a highly committed Board of Trustees, tremendous support from the Front of House volunteers and ...
    <p>.... the Friends of Wyeside!</p>
    <p>Wyeside is an independent charity – which means that every single penny we make goes straight back into our programme. But when it comes to financing special projects we may need some extra help. That’s where our Friends come in.</p>
    <p>Over the years, money from our Friends has helped us with many major projects - refurbishing our Market Theatre and Gallery, installing 3D digital projectors and major repairs to the stonework of our historic building.</p>
    <p>You can become a Wyeside Friend from as little as £5 a month. You’ll gain a wealth of benefits - plus the satisfaction of knowing you are helping to keep Wyeside alive for generations to come!</p>
    <p>The Friends application form can be downloaded <a href="/files/frontend/files/friends_leaflet.pdf">HERE</a>, or can be collected from the Box Office.</p>

    <hr />

    <h2 class="wy-body__title" style="color:#f53617">One Off Donations</h2>
    <p>Instead of joining our Friends team, would you rather make a one off donation? It's easy to do, please visit our online donations page <a href="https://mydonate.bt.com/charities/wyesideartscentre">HERE</a>.</p>

    <hr />

    <img src="/img/frontend/img/friends-logo.jpg" alt="Friends of Wyeside Arts Centre" style="max-width:500px;margin:1em 0;"/>
</section>
{% endblock %}
