{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    Funders
{% endblock %}

{% block slider %}
	{% include 'frontend/_partials/slider.twig' %}
{% endblock %}

{% block banner %}
<section class="wy-banner">
    <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
    <h1>Our<br />Funders</h1>
</section>
{% endblock %}

{% block content %}
<section class="wy-body">
    <p>Wyeside gratefully acknowledges the financial support of all of its funders, as well as the generous donations from individuals and from the Friends of Wyeside.</p>
    <p>Our funders:</p>
    <ul>
        <li>- <a href="http://www.artswales.org.uk/>">Arts Council Wales</a></li>
        <li>- Welsh Government</li>
        <li>- The National Lottery</li>
        <li>- <a href="http://www.powys.gov.uk/">Powys County Council</a></li>
        <li>- Builth Wells Town Council</li>
        <li>- <a href="http://www.filmagencywales.com/">Film Agency for Wales</a></li>
        <li>- The Circuit</li>
    </ul>
</section>
{% endblock %}
