{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    Funders
{% endblock %}

{% block banner %}
<section class="wy-banner">
    <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
    <h1>Our<br />Funders</h1>
</section>
{% endblock %}

{% block content %}
<section class="wy-body">
    <p>Wyeside gratefully acknowledges the financial support of all of its funders, as well as the generous donations from individuals and from the Friends of Wyeside.</p>
    <p>Wyeside is funded by:</p>
    <a href="http://www.artswales.org.uk/"><img src="/img/frontend/img/acw-logo.jpg" alt="Arts Council Wales" style="display:inline-block;margin:1em;max-height:100px;"/></a>
    <img src="/img/frontend/img/wg-logo.jpg" alt="Welsh Government" style="display:inline-block;margin:1em;max-height:100px;"/>
    <img src="/img/frontend/img/builth-logo.jpg" alt="Builth Wells Town Countil" style="display:inline-block;margin:1em;max-height:100px;"/>
    <a href="http://www.powys.gov.uk/"><img src="/img/frontend/img/powys-logo.gif" alt="Powys County Council" style="display:inline-block;margin:1em;max-height:100px;"/></a>
    <img src="/img/frontend/img/lottery-logo.jpg" alt="National Lottery" style="display:inline-block;margin:1em;max-height:100px;"/>
    <a href="http://www.filmagencywales.com/"><img src="/img/frontend/img/ffilm-cymru.jpg" alt="Ffilm Cymru" style="display:inline-block;margin:1em;max-height:100px;"/></a>
    <img src="/img/frontend/img/garfield-logo.jpg" alt="Garfield Weston Foundation" style="display:inline-block;margin:1em;max-height:100px;"/>
    </ul>
</section>
{% endblock %}
