{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    Volunteers
{% endblock %}

{% block banner %}
<section class="wy-banner">
    <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
    <h1>Our<br />Volunteers</h1>
</section>
{% endblock %}

{% block content %}
<section class="wy-body">
    <p>Wyeside's volunteers play a vital role in our continuing success. Our volunteers help us in a number of ways - whether stewarding for live events and films, working on our bars, or helping to publicise and market Wyeside's 1,400 presentations each year.</p>
    <p>Volunteer benefits include the opportunity to: see live events and films for free, undergo training which will develop skills and CV’s, and work with the friendly team here at Wyeside Arts Centre!</p>
    <p>If you are aged 16 or over and are interested in volunteering at Wyeside please get in touch with our Volunteer Coordinator, Owen Lawrence. Please email <a href="mailto:owen@wyeside.co.uk">owen@wyeside.co.uk</a> or call our administration office on <a href="tel:01982 553668">01982 553668</a>.</p>
    <p>If emailing, please remember to include your address and telephone number, and do make us aware of any particular skills or areas of expertise that you may have!</p>
    <p>Alternatively, please <a href="/files/frontend/files/volunteer_enrolment_form.pdf">CLICK HERE</a> to download the Volunteers’ Application Form, and drop it inat the Box Office.</p>

    <hr />

    <img src="/img/frontend/img/volunteer.jpg" alt="Wyeside Arts Centre" style="margin:1em 0;"/>
</section>
{% endblock %}
