{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    Volunteers
{% endblock %}

{% block slider %}
	{% include 'frontend/_partials/slider.twig' %}
{% endblock %}

{% block banner %}
<section class="wy-banner">
    <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
    <h1>Our<br />Volunteers</h1>
</section>
{% endblock %}

{% block content %}
<section class="wy-body">
    <p>Wyeside's volunteers play a vital role in our continuing success. Our volunteers help us in a number of ways - whether stewarding for
        live events and films, working on our bars, or helping to publicise and market Wyeside's 800 presentations each year.</p>
    <p>Benefits include the opportunity to see live events and films for free, to undergo training and to develop your skills and CV, and working with the friendly team here at Wyeside Arts Centre.</p>
    <p>If you are aged 16 or over and are interested in volunteering at Wyeside, please get in touch with our volunteers coordinator Owen Lawrence at the Box Office on
        <a href="mailto:owen@wyeside.co.uk">owen@wyeside.co.uk</a>. Please remember to include your address and telephone number, and do make us aware of any particular skills or areas of expertise that you may have!
    </p>

    <a href="../../../_files/_uploads/Volunteer Enrolment Form.pdf">Click here to download the Volunteers' Application Form.</a>

</section>
{% endblock %}
