{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    Terms &amp; Conditions
{% endblock %}

{% block banner %}
<section class="wy-banner">
    <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
    <h1>Terms &amp;<br />Conditions</h1>
</section>
{% endblock %}

{% block content %}
<section class="wy-body">
    <p>Wyeside Arts Centre is governed by the following Terms &amp; Conditions.  By purchasing tickets, you are accepting these Terms
        &amp; Conditions and agreeing to be bound by them and to comply with all applicable laws and regulations.</p>

    <hr />

    <h1 class="wy-body__title" style="color:#f53617">Our Details</h1>
    <ul>
        <li>Wyeside Arts Centre Ltd.</li>
        <li>Charity Number - 505656</li>
        <li>VAT Registration Number – 289064130</li>
        <li>Company Registration Number – 1279900</li>
    </ul>
    <br />
    <ul>
        <li>Wyeside Arts Centre</li>
        <li>Castle Street</li>
        <li>Builth Wells</li>
        <li>Powys</li>
        <li>LD2 3BN</li>
    </ul>
    <br />
    <ul>
        <li>Administration Phone Number: <a href="tel:01982 553668">01982 553668</a></li>
        <li>Administration e-mail: <a href="mailto:administration@wyeside.co.uk">administration@wyeside.co.uk</a></li>
        <li>All our online bookings are powered by our partner organisation  Ticketsolve</li>
    </ul>

    <hr />

    <h1 class="wy-body__title" style="color:#f53617">Equal Opportunities and Diversity Policy</h1>
    <a href="../../../_files/_uploads/Wyeside equal opportunities and diversity policy april2013 (2).pdf">Wyeside Equal Opportunities and Diversity Policy</a>

    <hr />

    <h1 class="wy-body__title" style="color:#f53617">Currency</h1>
    <p>Pounds sterling is used for all transactions.</p>

    <hr />

    <h1 class="wy-body__title" style="color:#f53617">Delivery Policy</h1>
    <p>Tickets may be posted to you at an additional cost of £1.  This is only available if the performance is more than five days away and to UK
        postal addresses only.  Otherwise tickets may be collected from the box office at any time that the box office is open.</p>

    <hr />

    <h1 class="wy-body__title" style="color:#f53617">Cancellation, Exchanges &amp; Refunds Policy</h1>
    <p>Wyeside Arts Centre reserves the right to cancel a production or screening.  In this event full refunds will be issued by the finance department as soon as reasonably practicable.</p>
    <p>Tickets may be exchanged by the customer up to five days before a performance for a credit note minus a £2 administration fee.</p>

    <hr />

    <h1 class="wy-body__title" style="color:#f53617">Film Certificates</h1>
    <p>We are required by law to refuse admission to a film performance to anyone who in the opinion of the our staff is below or appears
        to be below the minimum age limit age required by the relevant classification of the British Board of Film Classification (BBFC) or
        local authority. Whilst we never like turning customers away or causing any disappointment or embarrassment, our license,
        and therefore business, does rely on our vigilance and as a prudent cinema operator we may insist on photo ID. ID can be requested
         at any point as initial checks are not possible when tickets are purchased from our website.</p>

    <hr />

    <h1 class="wy-body__title" style="color:#f53617">Online Ticket Purchases</h1>
    <p>All prices set are inclusive of any applicable taxes but exclusive of any booking fee or delivery fee.  A fee of £1 per online
         booking transaction is payable separately in consideration of fees the arts centre incurs for the online ticket system and remote
         card processing.    An additional fee of £1 is payable where customers request tickets to be sent by post.</p>

    <hr />

    <h1 class="wy-body__title" style="color:#f53617">Card Payments at the Box Office</h1>
    <p>We accept all major credit and debit cards, both in person and over the phone.  This is subject to a 50p charge per booking.</p>
    <em>Please note that we do not currently accept American Express.</em>

    <hr />

    <h1 class="wy-body__title" style="color:#f53617">Wheelchair Access</h1>
    <p>Wheelchair spaces are available, but limited.  Please book in advance.</p>

    <hr />

    <h1 class="wy-body__title" style="color:#f53617">Latecomers</h1>
    <p>Latecomers will be admitted only at the discretion of venue staff and at an appropriate point in the performance.</p>

    <hr />

    <h1 class="wy-body__title" style="color:#f53617">Latecomers</h1>
    <p>Cameras or any other recording devices are not permitted.  Any attempted use of recording devices will result in immediate
        removal from the theatre, forfeiture of the device and may subject you to criminal and civil liability.</p>

    <hr />

    <h1 class="wy-body__title" style="color:#f53617">Mobile Phones</h1>
    <p>All mobile phones should be switched off fully before entering the theatre.</p>

    <hr />

    <h1 class="wy-body__title" style="color:#f53617">Lost or Stolen Property</h1>
    <p>Wyeside Arts Centre management accepts no responsibility for possessions lost or stolen on the premises.</p>

    <hr />
    <br />
    <em>Wyeside Arts Centre management reserve the right to make changes to these Terms &amp; Conditions at any time without prior notice.</em>
    <br /><br />
</section>
{% endblock %}
