{% extends "frontend/_layouts/main.twig" %}

{% block head %}
	<link rel="stylesheet" href="/css/frontend/events/list.css">
{% endblock %}

{% block title %}
    {% if type == 'all' %}
        All Events
    {% elseif type == 'satellite' %}
        {{ type|capitalize }} Live!
    {% else %}
        {{ type|capitalize }}
    {% endif %}
{% endblock %}

{% block slider %}
    {% include 'frontend/_partials/slider.twig' %}
{% endblock %}

{% block content %}
<section class="wy-body">
    {% if eventsThisWeek|length > 0 %}
        <h2 class="wy-body__title">
			{% if type == 'cinema' %}
			Playing/Opening this Week
			{% else %}
			Playing this Week
			{% endif %}
		</h2>
		{% if type == 'all' %}
		<ul class="key-list">
			<li>KEY:</li>
			<li class="key-list__item--cinema">Cinema</li>
			<li class="key-list__item--live">Live</li>
			<li class="key-list__item--satellite">Satellite Live!</li>
			<li class="key-list__item--classes">Classes</li>
			<li class="key-list__item--gallery">Gallery</li>
		</ul>
		{% endif %}
        <ul class="wy-shows--this-week">
            {% for event in eventsThisWeek %}
                {% include 'frontend/events/_partials/listingItem.twig' %}
            {% endfor %}
        </ul>
		<hr />
    {% endif %}

    <h2 class="wy-body__title">Coming Soon</h2>
		{% if type == 'all' %}
		<ul class="key-list">
			<li>KEY:</li>
			<li class="key-list__item--cinema">Cinema</li>
			<li class="key-list__item--live">Live</li>
			<li class="key-list__item--satellite">Satellite Live!</li>
			<li class="key-list__item--classes">Classes</li>
			<li class="key-list__item--gallery">Gallery</li>
		</ul>
		{% endif %}
    <ul class="wy-shows--coming-soon">
        {% if futureEvents|length < 1 %}
        <p>There are no {{ type|capitalize }} shows to display here. Check back again soon.</p>
        {% endif %}
        {% for event in futureEvents %}
            {% include 'frontend/events/_partials/listingItem.twig' %}
        {% endfor %}
    </ul>

    <a href="/calendar" class="wy-button--calendar type--{{ type }}">View the Calendar</a>
	<hr />
</section>

{% endblock %}

{% block scripts %}
{% endblock %}
