{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    Contact Us
{% endblock %}

{% block content %}
<section class="wy-body">
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script><div style="overflow:hidden;height:500px;width:100%;"><div id="gmap_canvas" style="height:500px;width:100%;"><style>#gmap_canvas img{max-width:none!important;background:none!important}</style><a class="google-map-code" href="http://www.themecircle.net/wordpress-magazine/" id="get-map-data">wordpress magazine themes</a></div></div><script type="text/javascript"> function init_map(){var myOptions = {zoom:14,center:new google.maps.LatLng(52.15025499999999,-3.3989294000000427),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(52.15025499999999, -3.3989294000000427)});infowindow = new google.maps.InfoWindow({content:"<b>Wyeside Arts</b><br/>Castle Street<br/>LD2 3BN Builth Wells" });google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>

    <hr />

    <h2 class="wy-body__title" style="color:#f53617">Our Details</h2>
    <ul style="list-style:none;padding:0;">
        <li>Wyeside Arts Centre Ltd.</li>
        <li>Charity Number - 505656</li>
        <li>VAT Registration Number – 289064130</li>
        <li>Company Registration Number – 1279900</li>
    </ul>
    <ul style="list-style:none;padding:0;">
        <li>Wyeside Arts Centre</li>
        <li>Castle Street</li>
        <li>VBuilth Wells</li>
        <li>Powys</li>
        <li>LD2 3BN</li>
    </ul>

    <hr />

    <h2 class="wy-body__title" style="color:#f53617">For Ticket Enquiries</h2>

    <p>Our Box Office is open from 12.30pm-9pm Tuesdays Fridays, and from 2pm-9pm Saturdays and Sundays.</p>
    <p><a href="tel:01982 552 555"></a></p>
    <p><a href="boxoffice@wyeside.co.uk">boxoffice@wyeside.co.uk</a> (please note that bookings cannot be made via email)</p>

    <hr />

    <h2 class="wy-body__title" style="color:#f53617">For Administrational Enquiries</h2>

    <p>Our office is typically manned from 9.30am till 5pm Monday to Friday, although these times may vary due to the nature of our small administration team.</p>
    <p><a href="tel:01982 553 668">01982 553 668</a></p>
    <p>If you wish to contact a specific person, please take the time to look at the <a href="about/team">Our Team</a> page.</p>


    <h1 class="wy-body__title" style="color:#f53617">We no longer take reservations or bookings via email.</h1>
    <p>Admin Tel.:  01982 553668 (not to be used for ticket sales or reservation queries)</p>
    <br/>
    <br/>
    <h1 class="wy-body__title" style="color:#f53617">Wyeside Arts Centre, Castle Street, Builth Wells, Powys, LD2 3BN</h1>
    <p>Wyeside’s Operations Manager is <strong>Jill Mustafa</strong>, and the Chairman of the Board of Trustees is <strong>Barbara Stow.</strong></p>

    <hr />

    <img src="/img/frontend/img/contact-us.jpg" alt="Wyeside Arts Centre" style="margin:1em 0;"/>
</section>
{% endblock %}
