{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    Contact Us
{% endblock %}

{% block content %}
<section class="wy-body">
    <h1 class="wy-body__title" style="color:#f53617">Contact Us</h1>
    <p>Cameras or any other recording devices are not permitted.  Any attempted use of recording devices will result in immediate
        removal from the theatre, forfeiture of the device and may subject you to criminal and civil liability.</p>
    <br/>
    <br/>
    <h1 class="wy-body__title" style="color:#f53617">We no longer take reservations or bookings via email.</h1>
    <p>Admin Tel.:  01982 553668 (not to be used for ticket sales or reservation queries)</p>
    <br/>
    <br/>
    <h1 class="wy-body__title" style="color:#f53617">Wyeside Arts Centre, Castle Street, Builth Wells, Powys, LD2 3BN</h1>
    <p>Wyeside’s Operations Manager is <strong>Jill Mustafa</strong>, and the Chairman of the Board of Trustees is <strong>Barbara Stow.</strong></p>

</section>
{% endblock %}
