{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    Costume Hire
{% endblock %}

{% block banner %}
<section class="wy-banner">
    <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
    <h1>Costume<br />Hire</h1>
</section>
{% endblock %}

{% block content %}
{% endblock %}
