{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    Costume Hire
{% endblock %}

{% block banner %}
    <section class="wy-banner">
        <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
        <h1>Costume<br />Hire</h1>
    </section>
{% endblock %}

{% block content %}
    <section class="wy-body">
        <p>Wyeside – working in partnership with the Builth Wells Community Arts group (BWCAS) – has established a large store of stage costumes, with a wide variety of outfits generously sourced from both BWCAS and from Theatr Powys via Powys County Council. The items available range from hats to shoes and every kind of dress wear in-between, and are available to any local community group that wishes to hire them, from public organisations to schools to amateur dramatics groups.</p>

        <p>Please note that the store is maintained purely on a voluntary basis, with the fees being used to maintain the costumes and store. As such all viewings and bookings are strictly by appointment only.</p>

        <p>To book an appointment or to find out further information, please call our Wyeside Office (admin only) number 01982 553668, or email <a href="mailto:administration@wyeside.co.uk">administration@wyeside.co.uk</a></p>

        <hr>

        <img src="/img/frontend/img/costume-hire.jpg">

    </section>
{% endblock %}
