{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    Technical Information
{% endblock %}

{% block banner %}
<section class="wy-banner">
    <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
    <h1>Technical<br />Information</h1>
</section>
{% endblock %}

{% block content %}
{% endblock %}
