{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    Technical Information
{% endblock %}

{% block banner %}
<section class="wy-banner">
    <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
    <h1>Technical<br />Information</h1>
</section>
{% endblock %}

{% block content %}
<section class="wy-body">
    <h2 class="wy-body__title" style="color:#f53617">Equipment List</h2>
    <p><a href="/files/frontend/files/wyeside_equipment_list_page_1.pdf">Part 1</a> &amp; <a href="/files/frontend/files/wyeside_equipment_list_page_2.pdf">Part 2</a></p>
    <p>For any technical related queries please email Technical and Buildings Manager, <a href="mailto:technician@wyeside.co.uk">Tim Ferrett</a>.</p>
    <p>(please note: if you are relying on a certain bit of kit being present for your show, you are strongly advised to contact Tim Ferrett in advance, to make sure it's not being used elsewhere!)</p>
</section>
{% endblock %}
