/* --------------------------------
   Calendar
-------------------------------- */
.wy-banner img {
    height: 70px;
}
@media screen and (min-width: 650px) and (max-width: 1199px) {
    .wy-banner img {
        height: 90px;
    }
}
@media screen and (min-width: 1200px) {
    .wy-banner img {
        height: 110px;
    }
}
.wy-calendar {
    width: 100%;
}
.days-of-the-week {
    width: 100%;
}
.header-day {
    padding: 1em;
    float: left;
    width: calc(100% / 7);
    color: #fff;
    background: #F53617;
}
.clndr-grid__contain {
    overflow: auto;
    margin-bottom: 2em;
}
.clndr-grid,
.event-listing {
    display: inline-block;
    float: left;
    width: 100%;
}
.clndr-grid {
    text-align: center;
    border: 1px solid #292f33;
}
@media screen and (min-width: 750px) {
    .clndr-grid {
        width: calc(100% - 300px);
    }
    .event-listing {
        width:  300px;
        border: 1px solid #292f33;
        border-left: none;
    }
    .event-listing-title {
        text-align: center;
        padding: 0.8em 0!important;
        color: #fff;
        background: #48545b;
    }
    .event-list {
        height: 499px;
        overflow-y: scroll;
    }
}
.clndr-controls {
    display: inline-block;
    position: relative;;
    width: 100%;
    color: #fff;
    background: #292f33;
}
.clndr-previous-button,
.clndr-next-button {
    display: inline-block;
    position: absolute;
    top: 0;
    width: 40px;
    height: 100%;
    background: url(../../../img/frontend/icons/arrow-icon.svg) no-repeat center right;
    background-size: contain;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    z-index: 10;
}
.clndr-previous-button:hover,
.clndr-next-button:hover {
    background-color: #424c52;
}
.clndr-previous-button.inactive,
.clndr-next-button.inactive {
    opacity: 0.5;
}
.clndr-previous-button.inactive:hover,
.clndr-next-button.inactive:hover {
    background-color: transparent;
}
.clndr-previous-button {
    left: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.clndr-next-button {
    right: 0;
}
.month {
    position: relative;
    margin: 0 auto;
    padding: 0.75em !important;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    z-index: 1;
}
.days {
    width: 100%;
}
.day {
    position: relative;
    padding: 1em;
    width: calc(100% / 7);
    float: left;
    overflow: auto;
}
@media screen and (min-width: 650px) {
    .header-day {
        padding: 1.5em 1em;
    }
    .day {
        padding: 2em 1em;
    }
}
.day > span {
    position: relative;
    z-index: 5;
}
.day.event {
    cursor: pointer;
}
.day.event.adjacent-month,
.day.event.past {
    cursor: default;;
}
.day.event,
.day.today {
    color: #fff;
}
.day.event::after,
.day.today::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
}
.day.event::after {
    background: #48545b;
}
.day.today::after {
    background: #F53617;
}
@media screen and (min-width: 650px) {
    .day.event::after,
    .day.today::after {
        height: 40px;
        width: 40px; }
}
.past,
.adjacent-month {
    float: left;
    opacity: 0.25;
    pointer-events: none;
}
.event-item {
    margin: 0.5em 0;
    padding: 0.5em;
}
.event-item-name {
    font-size: 1.2em;
    text-transform: uppercase;
}
.wy-button--event {
    display: block;
    margin: 2em auto;
    padding: 1em 2em;
    max-width: 260px;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.wy-button--event:hover {
    opacity: 0.9;
}

/* =====================================
   NEW
   =====================================*/
.wy-body section {
  overflow: hidden; }
.wy-body table {
  width: 100%;
  min-width: 750px;
  margin-bottom: 1.2em;
  border-collapse: collapse;
  table-layout: fixed;
  border: 1px solid rgba(0,0,0,0.1);
  overflow: auto; }
.wy-body tr {
  border-bottom: 1px solid rgba(0,0,0,0.1); }
.wy-body tr:first-child {
  background: #374045;
  color: #fff;
  font-size: 1.2em;
  text-transform: uppercase; }
.wy-body tr:last-child {
  border: none; }
.wy-body tr:not(:first-child):hover {
  background: rgba(0,0,0,0.1); }
.wy-body th {
  text-align: left;
  font-weight: 200; }
.wy-body th,
.wy-body td {
  padding:0.7em; }
.wy-body td:first-child {
  max-width: 100px; }
.wy-body td ul li {
  display: block;
  margin-bottom: 0.3em; }
.wy-body td ul li a {
  display: inline-block;
  padding: 0.3em 1em;
  border-radius: 3px;
  line-height: 1.2em; }
.wy-body td ul li:hover {
  opacity: 0.75; }
