<header class="wy-header animate-search">
	<div class="wy-header__logo"><a href="/"><img src="/img/wyeside-logo.png" alt="Logo"></a></div>
	<nav class="wy-nav">
		<a href="#search" class="wy-nav__button--search u-text-replace">Search</a>

		<ul class="wy-nav__menu">
			<li><a href="#0">What's On</a></li>
			<li><a href="#0">Your Visit</a></li>
			<li><a href="#0">Support Us</a></li>
			<li><a href="#0">About Us</a></li>
			<li><a href="#0">Hire</a></li>
		</ul>
	</nav>

	<a href="#0" class="wy-nav__button--menu u-text-replace">Menu<span></span></a>
</header>

<div id="search" class="wy-search">
	<form>
		<input type="search" placeholder="Search...">

		<div class="wy-search__select">
			<span>in</span>
			<select name="select-category">
				<option value="all-categories">all Categories</option>
				<option value="category1">all Events</option>
				<option value="category2">Cinema</option>
				<option value="category3">Live</option>
				<option value="category4">Satellite Live!</option>
				<option value="category5">Workshops</option>
				<option value="category6">Gallery</option>
				<option value="category3">News</option>
			</select>
			<span class="selected-value">all Categories</span>
		</div>
	</form>

	<div class="wy-search__suggestions">
		<div class="wy-search__news">
			<h3>Latest News</h3>
			<ul>
				<li>
					<a class="image-wrapper" href="#0"><img src="img/placeholder.png" alt="news image"></a>
					<h4><a class="cd-nowrap" href="#0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h4>
					<time datetime="2016-01-12">Feb 03, 2016</time>
				</li>

				<li>
					<a class="image-wrapper" href="#0"><img src="img/placeholder.png" alt="news image"></a>
					<h4><a class="cd-nowrap" href="#0">Incidunt voluptatem adipisci voluptates fugit beatae culpa eum, distinctio, assumenda est ad</a></h4>
					<time datetime="2016-01-12">Jan 28, 2016</time>
				</li>

				<li>
					<a class="image-wrapper" href="#0"><img src="img/placeholder.png" alt="news image"></a>
					<h4><a class="cd-nowrap" href="#0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, esse.</a></h4>
					<time datetime="2016-01-12">Jan 12, 2016</time>
				</li>
			</ul>
		</div>

		<div class="wy-search__links">
			<h3>Quick Links</h3>
			<ul>
				<li><a href="#0">Find a store</a></li>
				<li><a href="#0">Accessories</a></li>
				<li><a href="#0">Warranty info</a></li>
				<li><a href="#0">Support</a></li>
				<li><a href="#0">Contact us</a></li>
			</ul>
		</div>
	</div>

	<a href="#0" class="wy-search__button--close u-text-replace">Close Form</a>
</div>

<div class="wy-header__overlay"></div>