<nav class="wy-nav">
  <section class="wy-nav__container">
    <a class="wy-nav__logo" href="/"><img src="/img/wyeside-logo.png" alt="Logo"></a>
    <ul class="wy-nav__buttons">
      <li><a class="wy-nav__button--search" href="#search">Search<span></span></a></li>
      <li><a class="wy-nav__button--trigger" href="#menu">Menu<span></span></a></li>
    </ul>
  </section>
  <ul id="wy-nav__menu" class="wy-nav__menu is-fixed">
    <!-- What's On -->
    <li class="wy-nav__menu-drop">
      <a>What's On</a>
      <ul class="wy-nav__menu-list--gallery is-hidden">
        <!-- Mobile 'Menu' button -->
        <li class="wy-nav__button--back"><a href="#0">Menu</a></li>
        <!-- 'Explore' button -->
        <li class="wy-nav__button--explore"><a href="#1">Explore What's On</a></li>
        <!-- Live -->
        <li>
          <a class="wy-nav__menu-item" href="#2">
            <img src="/img/frontend/logos/live-logo.jpg" alt="Product Image">
          </a>
        </li>
        <!-- Satellite -->
        <li>
          <a class="wy-nav__menu-item" href="#3">
            <img src="/img/frontend/logos/satellite-logo.jpg" alt="Product Image">
          </a>
        </li>
        <!-- Cinema -->
        <li>
          <a class="wy-nav__menu-item" href="#4">
            <img src="/img/frontend/logos/cinema-logo.jpg" alt="Product Image">
          </a>
        </li>
        <!-- Gallery -->
        <li>
          <a class="wy-nav__menu-item" href="#5">
            <img src="/img/frontend/logos/gallery-logo.jpg" alt="Product Image">
          </a>
        </li>
        <!-- Workshops -->
        <li>
          <a class="wy-nav__menu-item" href="#6">
            <img src="/img/frontend/logos/workshops-logo.jpg" alt="Product Image">
          </a>
        </li>
      </ul>
    </li>
    <!-- Your Visit-->
    <li class="wy-nav__menu-drop">
      <a href="#7">Your Visit</a>
      <ul class="wy-nav__menu-list--icons is-hidden">
        <li class="wy-nav__button--back"><a href="#0">Menu</a></li>
        <!-- Find Us -->
        <li>
          <a class="wy-nav__menu-item wy-nav__menu-item--locate" href="#8">
            <h3>How to Find Us</h3>
            <p>This is the item description</p>
          </a>
        </li>
        <!-- Food & Drink -->
        <li>
          <a class="wy-nav__menu-item wy-nav__menu-item--food" href="#9">
            <h3>Food &amp; Drink</h3>
            <p>This is the item description</p>
          </a>
        </li>
        <!-- Opening Hours -->
        <li>
          <a class="wy-nav__menu-item wy-nav__menu-item--time" href="#10">
            <h3>Opening Hours</h3>
            <p>This is the item description</p>
          </a>
        </li>
        <!-- Booking Info -->
        <li>
          <a class="wy-nav__menu-item wy-nav__menu-item--ticket" href="#11">
            <h3>Booking Information</h3>
            <p>This is the item description</p>
          </a>
        </li>
        <!-- Auditoriums -->
        <li>
          <a class="wy-nav__menu-item wy-nav__menu-item--audit" href="#12">
            <h3>Our Auditoriums</h3>
            <p>This is the item description</p>
          </a>
        </li>
        <!-- Access -->
        <li>
          <a class="wy-nav__menu-item wy-nav__menu-item--access" href="#13">
            <h3>Access</h3>
            <p>This is the item description</p>
          </a>
        </li>
      </ul>
    </li>
    <!-- Support Us -->
    <li class="wy-nav__menu-drop">
      <a href="#14">Support Us</a>
      <ul class="wy-nav__menu-list--icons is-hidden">
        <li class="wy-nav__button--back"><a href="#0">Menu</a></li>
        <!-- Volunteers -->
        <li>
          <a class="wy-nav__menu-item wy-nav__menu-item--1" href="#15">
            <h3>Volunteers</h3>
            <p>This is the item description</p>
          </a>
        </li>
        <!-- Friends -->
        <li>
          <a class="wy-nav__menu-item wy-nav__menu-item--2" href="#16">
            <h3>Friends</h3>
            <p>This is the item description</p>
          </a>
        </li>
        <!-- Funders -->
        <li>
          <a class="wy-nav__menu-item wy-nav__menu-item--3" href="#17">
            <h3>Funders</h3>
            <p>This is the item description</p>
          </a>
        </li>
      </ul>
    </li>
    <!-- About Us -->
    <li class="wy-nav__menu-drop">
      <a href="#18">About Us</a>
      <ul class="wy-nav__menu-list--icons is-hidden">
        <li class="wy-nav__button--back"><a href="#0">Menu</a></li>
        <!-- Who We Are -->
        <li>
          <a class="wy-nav__menu-item wy-nav__menu-item--1" href="#19">
            <h3>Who We Are</h3>
            <p>This is the item description</p>
          </a>
        </li>
        <!-- History -->
        <li>
          <a class="wy-nav__menu-item wy-nav__menu-item--2" href="#20">
            <h3>History</h3>
            <p>This is the item description</p>
          </a>
        </li>
        <!-- Team -->
        <li>
          <a class="wy-nav__menu-item wy-nav__menu-item--3" href="#21">
            <h3>Our Team</h3>
            <p>This is the item description</p>
          </a>
        </li>
        <!-- Jobs -->
        <li>
          <a class="wy-nav__menu-item wy-nav__menu-item--4" href="#22">
            <h3>Job Opportunities</h3>
            <p>This is the item description</p>
          </a>
        </li>
        <!-- News -->
        <li>
          <a class="wy-nav__menu-item wy-nav__menu-item--5" href="#23">
            <h3>News and Press</h3>
            <p>This is the item description</p>
          </a>
        </li>
      </ul>
    </li>
    <!-- Hire -->
    <li class="wy-nav__menu-drop">
      <a>Hire</a>
      <ul class="wy-nav__menu-list--icons is-hidden">
        <li class="wy-nav__button--back"><a href="#0">Menu</a></li>
        <!-- Tech Info -->
        <li>
          <a class="wy-nav__menu-item wy-nav__menu-item--1" href="#24">
            <h3>Technical Information</h3>
            <p>This is the item description</p>
          </a>
        </li>
        <!-- Costume Hire -->
        <li>
          <a class="wy-nav__menu-item wy-nav__menu-item--2" href="#25">
            <h3>Costume Hire</h3>
            <p>This is the item description</p>
          </a>
        </li>
      </ul>
    </li>
    <!-- Box Office -->
    <li>
      <a class="wy-nav__button--tel" href="tel:01982552555" style="color:#f53617;font-weight:bold;font-size:1.1em;">
        <span class="icon-ticket" style="font-size:0.9em"></span> 01982 552 555
      </a>
    </li>
  </ul>
</nav>
<div id="wy-nav__search" class="wy-nav__search">
  <form>
    <input type="search" placeholder="Search...">
  </form>
</div>
<div class="wy-nav__overlay"></div>