{% for image in event.getImages() %}
    <div class="image-wrapper{% if image.getIsMain() %} image-main{% endif %}" >
        <div class="image-controls">
            {% if not image.getIsMain() %}
                <a href="javascript:ajaxSetMainImage({{ image.getId() }})">Set Main</a> |
            {% endif %}
            <a href="javascript:ajaxDeleteImage({{ image.getId() }})">Delete</a>
        </div>
        <img src="{{ image.getThumbnailUrl() }}" style="width:480px;height:200px;">
    </div>
{% endfor %}