<div id="partial-wrap">
    {% for image in event.getImages() %}
        <div class="image-wrapper">
            <div class="image-controls">
                {% if not image.getIsMain() %}
                    <a href="#">Set Main</a> |
                {% endif %}
                <a href="#">Delete</a>
            </div>
            <img src="{{ image.getThumbnailUrl() }}" style="width:240px;height:240px;">
        </div>
    {% endfor %}
</div>

{% if imageReload %}
    <script type="text/javascript">
        parent.document.getElementById('event-images').innerHTML = document.getElementById('partial-wrap').innerHTML;
        parent.resetSpinner('image-upload-form');
    </script>
{% endif %}


