/* --------------------------------
   Event List
-------------------------------- */
.wy-button--calendar {
    display: block;
    margin: 1em auto;
    padding: 1em 2em;
    max-width: 260px;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.wy-button--calendar:hover {
    opacity: 0.9;
}
.wy-banner.type--satellite,
.wy-banner.type--all {
    padding: 0.25em 0;
}
