{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    Access
{% endblock %}

{% block banner %}
<section class="wy-banner">
    <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
    <h1>Access</h1>
</section>
{% endblock %}

{% block content %}
<section class="wy-body">
    <h2 class="wy-body__title" style="color:#f53617">Wheelchair &amp; Disabled Access</h2>
    <p>We offer:</p>
    <ul>
        <li>- Lift access to all floors.</li>
        <li>- Level access to all areas.</li>
        <li>- Disabled toilet which is accessible from all areas.</li>
        <li>- Wheelchair spaces in all our auditoriums.</li>
        <li>- Reserved disabled parking on our forecourt.</li>
    </ul>
    <p>Our disabled seating and parking facilities are allocated on a first-come first-served basis as these facilities are limited due to restricted nature of our Grade II listed building. To guarantee availability we strongly advise booking in advance via our Box Office. Please see our Contact Us page for details on the best way to reach us.</p>
    <p>Unfortunately wheelchair spaces are not bookable online at this time but can be purchased directly through our Box Office.</p>

    <hr />

    <h2 class="wy-body__title" style="color:#f53617">Assistance for the Blind &amp; Visually Impaired, Deaf &amp; Hard of Hearing</h2>
    <p>Guide dogs are welcome throughout the centre.</p>
    <p>Audio description for blind and visually impaired people is available for nearly all of Wyeside’s films and screenings (subject to availability) on request at the Box Office.</p>
    <p>With advance notice Wyeside will be pleased to offer any additional assistance that you may require.</p>

    <hr />

    <img src="/img/frontend/img/access.jpg" alt="Wheelchair Accessible" style="display:inline-block;max-width:100px;margin:1em;"/>
    <img src="/img/frontend/img/access-wc.gif" alt="Wheelchair Accessible WC" style="display:inline-block;max-width:100px;margin:1em;"/>
    <img src="/img/frontend/img/access-lift.jpg" alt="Wheelchair Accessible Lift" style="display:inline-block;max-width:100px;margin:1em;"/>
    <img src="/img/frontend/img/access-dog.jpg" alt="Guide Dog Friendly" style="display:inline-block;max-width:100px;margin:1em;"/>
</section>
{% endblock %}
