{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    Access
{% endblock %}

{% block banner %}
<section class="wy-banner">
    <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
    <h1>Access</h1>
</section>
{% endblock %}

{% block content %}
<section class="wy-body">
    <h1 class="wy-body__title" style="color:#f53617">Wheelchair &amp; Disabled Access</h1>
    <ul>
        <li>- Lift access to all floors.</li>
        <li>- Level access to all areas.</li>
        <li>- Disabled toilet accessible from all areas.</li>
        <li>- Wheelchair spaces in the Castle Cinema, Market Theatre / Cinema and Gallery.</li>
        <li>- Wyeside’s forecourt is available as a set-down area for disabled passengers arriving by car. To ensure that this area is kept clear, a chain may be in place.</li>
    </ul>
    <p>Please note that Wyeside cannot guarantee the availability of wheelchair spaces within the auditoriums, or disabled parking spaces on the forecourt. Customers who wish to use these facilities must book in advance.</p>
    <p>Please call the box Box Office on <a href="tel:01982 552 555">01982 552 555</a>.</p>

    <hr />

    <h1 class="wy-body__title" style="color:#f53617">Assistance for the Blind &amp; Visually Impaired, Deaf &amp; Hard of Hearing</h1>
    <ul>
        <li>- Guide dogs welcome.</li>
        <li>- Audio Description and Subtitles for cinema screenings. Audio description for blind and visually impaired people is available for nearly all
             of Wyeside’s films and screenings (subject to availability, and excluding Gallery screenings) on request at the Box Office. Subtitled screenings
              for the deaf and hard of hearing are available for most films (again, subject to availability and excluding Gallery screenings), but will be restricted
               to certain matinees: usually Wednesday afternoons. Films for which subtitling and audio-description are available will carry the ST and AD symbols,
               with dates for subtitled screenings listed in the film description. For more information on subtitled and audio-described cinema at Wyeside and elsewhere,
             please visit www.yourlocalcinema.com.</li>
    </ul>
    <p>With advance notice Wyeside will be pleased to offer any additional assistance that you may require.</p>

    <hr />

    <h3 class="wy-body__title" style="color:#f53617">Wyeside Arts Centre is an awards winner for best practice in access for all.</h3>
</section>
{% endblock %}
