{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    Our Auditoriums
{% endblock %}

{% block slider %}
	{% include 'frontend/_partials/slider.twig' %}
{% endblock %}

{% block banner %}
<section class="wy-banner">
    <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
    <h1>Our<br />Auditoriums</h1>
</section>
{% endblock %}

{% block content %}
<section class="wy-body">
    <h1 class="wy-body__title" style="color:#f53617">The Market Theatre</h1>
    <p>The Market Theatre is Wyeside’s main venue for live arts. The Market is also home to Wyeside’s second cinema screen and shows film throughout the year in
        addition to its programme of theatre, live music, comedy and dance. The Market Theatre gets its name from the old Market Hall complex that once occupied
        the building, and the numbered bays of the market stalls can still be seen above the stone arches all around the theatre.  Both the Market Theatre and the
        Castle Cinema are licensed for the consumption of alcohol.</p>

    <hr />

    <h1 class="wy-body__title" style="color:#f53617">The Castle Cinema</h1>
    <p>Upstairs (or up-lift!) from the Market Theatre is the Castle Cinema. Comprehensively refurbished in 2001, the Castle is an extremely comfortable venue for film
        and also occasional performances and talks.  Although Wyeside can be found on Castle Street, Builth Wells, opposite the Castle Mound (remnants of a Norman motte
        and bailey – a timber structure remodelled as a stone castle by Edward 1 in 1277), the Castle Cinema is not in fact named after the old fortress.  In 1937 the
        ‘Kino’ at the old Wyeside Assembly Rooms was bought by the ‘Castle Cinema’ chain, and it is from then on that the ‘Kino’ became the ‘Castle.’ Wyeside claims the
        unchallenged title of ‘longest running cinema in Wales,’ and relives the era of the ‘silents’ with the help of returning artist Paul Shallcross, whose silent film
        screenings, accompanied by original and specially composed scores, are a favourite of Wyeside audiences.</p>

    <hr />

    <h1 class="wy-body__title" style="color:#f53617">The Gallery</h1>
    <p>The Gallery  an exhibition space, with excellent lighting and facilities that make it suitable not only for visual arts, crafts and installations, but also for video-art.</p>

    <hr />
</section>
{% endblock %}
