{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    Our Auditoriums
{% endblock %}

{% block banner %}
<section class="wy-banner">
    <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
    <h1>Our<br />Auditoriums</h1>
</section>
{% endblock %}

{% block content %}
<section class="wy-body">
    <h2 class="wy-body__title" style="color:#f53617">The Market Theatre</h2>
    <p>The Market Theatre is Wyeside’s main venue for live arts. The Market is also home to Wyeside’s second cinema screen and shows film throughout the year in addition to its programme of theatre, live music, comedy and dance.</p>
    <p>Extensively refurbishment in 2012, it now sports new seating, an improved performance space and upgraded equipment. The theatre now seats 158 in full concert style but the seats are also capable of being “pulled-back” to expose the flat floor which can be used for workshops, dances, conferences, or cabaret-style layout.</p>
    <p>The Market Theatre gets its name from the old Market Hall complex that once occupied the building, and the numbered bays of the market stalls can still be seen above the stone arches all around the theatre.</p>
    <p>The Market Theatre benefits from the use of the Market Bar, which serves a selection of soft and alcoholic drinks and snacks on select shows.</p>
    <p>Both the Market Theatre and the Castle Cinema are licensed for the consumption of alcohol.</p>
    <img src="/img/frontend/img/market.jpg" alt="The Market Theatre" style="margin:1em 0;"/>

    <hr />

    <h2 class="wy-body__title" style="color:#f53617">The Castle Cinema</h2>
    <p>Upstairs (or up-lift!) is the Castle Cinema which is an extremely comfortable venue for film and also occasional performances and talks.</p>
    <p>The Castle auditorium seats 183 in tiered seating, and has all the best up to date digital, 3D and sound equipment.</p>
    <p>Although Wyeside can be found on Castle Street, Builth Wells, opposite the Castle Mound (remnants of a Norman motte and bailey – a timber structure remodelled as a stone castle by Edward 1 in 1277), the Castle Cinema is not in fact named after the old fortress. In 1937 the ‘Kino’ at the old Wyeside Assembly Rooms was bought by the ‘Castle Cinema’ chain, and it is from then on that the ‘Kino’ became the ‘Castle.’ Wyeside claims the unchallenged title of ‘longest running cinema in Wales,’ and has been screening movies since 1911. More on this can be found in the History section of our website, under the About Us heading.</p>
    <img src="/img/frontend/img/castle.jpg" alt="The Castle Cinema" style="margin:1em 0;"/>

    <hr />

    <h2 class="wy-body__title" style="color:#f53617">The Gallery</h2>
    <p>The Gallery an exhibition space, with excellent lighting and facilities that make it suitable not only for visual arts, crafts and installations, but also for video-art.</p>
    <img src="/img/frontend/img/gallery.jpg" alt="The Gallery" style="margin:1em 0;"/>
</section>
{% endblock %}
