{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    Booking Information
{% endblock %}

{% block banner %}
<section class="wy-banner">
    <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
    <h1>Booking<br />Information</h1>
</section>
{% endblock %}

{% block content %}
<section class="wy-body">
    <h1 class="wy-body__title" style="color:#f53617">Booking Information</h1>
    <h2 class="wy-body__title" style="color:#f53617">How to Book</h2>
    <h3 class="wy-body__title" style="color:#f53617">Online</h3>
    <p>Tickets can be bought through our website at any time, just click on the What’s On menu at the top of this page and have a browse.</p>
    <p>You will receive a confirmation email once your booking has gone through. If you have not received a confirmation email then your booking has not been successful and you should try again. If you are at all concerned about making a double booking then please contact one of our box office staff who will be happy to help you. See our Contact Us page for more details.</p>
    <p>You can collect your tickets at any point in the lead up to the performance, even on the night if that suits you most. You will be asked to confirm the name and address that you used at the time of booking. If possible, please bring a copy of your confirmation email. If this is not possible then please make a note of your order number.</p>
    <p>Orders are subject to a 50p charge per order. Please note that this is per transaction, and not per ticket.</p>
    <p>All of our online bookings are powered by our partner organisation <a href="http://www.ticketsolve.com/">Ticketsolve</a>.</p>
    <h3 class="wy-body__title" style="color:#f53617">In Person</h3>
    <p>Why not pop into the venue and order from us in person? We are open from 12.30pm Tue-Fri and from 2pm Sat &amp; Sun.</p>
    <p>We accept all major credit and debit cards (not currently accepting American Express) however they are subject to a 50p charge per transaction. Please note that this is per transaction, and not per ticket. You can avoid paying this fee if you pay with cash.</p>
    <h3 class="wy-body__title" style="color:#f53617">By Phone</h3>
    <p>All orders can be made over the phone. Our Box Office number is 01982 552 555 and we are open from 12.30pm Tue-Fri and from 2pm Sat &amp; Sun. Please call during opening hours and wait for the options, and hold the line to speak to a member of our Box Office team.  Please note that we may find it hard to answer the phone during busy periods, if you are struggling to get through please wait for 30 minutes and then try again.</p>
    <p>We accept all major credit and debit cards (not currently accepting American Express) however they are subject to a 50p charge per transaction. Please note that this is per transaction, and not per ticket.</p>
    <h3 class="wy-body__title" style="color:#f53617">Reservations</h3>
    <p>We do not accept reservation orders. All tickets must be paid for at the time for booking.</p>
    <h3 class="wy-body__title" style="color:#f53617">Refunds and Exchanges</h3>
    <p>If you have bought tickets for a Wyeside event but find you can’t make it, they can be exchanged up to 5 days before the performance date, or the ticket value refunded via a credit note – less a £2 admin fee.</p>
    <h3 class="wy-body__title" style="color:#f53617">Concessions</h3>
    <p>We offer concession prices for Live performances and for Satellite Live broadcasts. Our concessions include under 18s, over 65s, students, disabled, and unwaged customers.</p>
    <p>Support workers accompanying disabled customers can attend all Wyeside’s events for free.</p>
    <p>Please note that proof of age/status may be required.</p>
    <h3 class="wy-body__title" style="color:#f53617">Group Bookings</h3>
    <p>We can often offer tailored rates for parties from schools and other organisations for selected shows. Please contact a member of our Box Office for more information. See our Contact Us page for more details.</p>
    <p>Please note that any such agreements must be arranged before the event, so please contact us in plenty of time.</p>
</section>
{% endblock %}
