{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    Booking Information
{% endblock %}

{% block banner %}
<section class="wy-banner">
    <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
    <h1>Booking<br />Information</h1>
</section>
{% endblock %}

{% block content %}
<section class="wy-body">
    <h1 class="wy-body__title" style="color:#f53617">Contact</h1>
    <p>You can visit the Box office in person during our opening hours, or alternatively, telephone 01982 552 555.</p>
    <p>To speak to a Box Office Assistant, please call during opening hours and wait for the options. Please hold the line to speak to an Assistant.</p>
    <p>You can also contact the Box Office via email to <a href="mailto:boxoffice@wyeside.co.uk">boxoffice@wyeside.co.uk</a>."</p>
    <p>For further contact information, please visit the Contact Page.</p>

    <hr />

    <h1 class="wy-body__title" style="color:#f53617">Seating</h1>
    <p>Seating for cinema is unreserved.</p>
    <p>Wheelchair spaces are available in the Castle Cinema, Market Theatre / Cinema and Gallery. For more information, please visit the Access Page.</p>

    <hr />

    <h1 class="wy-body__title" style="color:#f53617">Payment Methods</h1>
    <p>We accept all major credit and debit cards, and can take payment over the phone. There is a 50p charge for all credit and debit card bookings.</p>
    <p>We also have the facilities for you to book your tickets online.</p>

    <hr />

    <h1 class="wy-body__title" style="color:#f53617">Conditions</h1>
    <p>Reserved tickets that have not been paid for 15 minutes before the performance may be released for sale to other customers.</p>
    <p>Refunds and exchanges can be made up to five days before the start of a performance. We will issue a credit note for the value of the tickets, minus an administrative fee of £2.</p>
    <p>Latecomers to live events may have to wait until a suitable point in the performance before taking up their seat.</p>

    <hr />

    <h1 class="wy-body__title" style="color:#f53617">Ticket Prices</h1>
    <p>In the interests of fairness and accessibility, Wyeside endeavours to keep all ticket prices as low as possible.</p>
    <p>Cinema Ticket Prices:</p>
    <table>
        <tr>
            <td></td>
            <td>2D</td>
            <td>3D</td>
        </tr>
        <tr>
            <td>Adult</td>
            <td>£7</td>
            <td>£8</td>
        </tr>
        <tr>
            <td>Child (16 & Under)</td>
            <td>£5</td>
            <td>£6</td>
        </tr>
        <tr>
            <td>Family Tickets*</td>
            <td>£20</td>
            <td>£25</td>
        </tr>
    </table>
    <br />
    <p>*Family Tickets: 2 Adults & 2 Children</p>
    <p>Proof of age/status may be required.</p>
    <p>Support workers with proof of status who are accompanying disabled customers are entitled to a free ticket.</p>
    <p>Group bookings are eligible for one free ticket with every ten tickets bought. Schools and education groups are also eligible for an additional free ticket for teachers with every ten children.</p>

    <hr />

    <h3 class="wy-body__title" style="color:#f53617">All our online bookings are powered by our partner organisation <a href="ticketsolve.com">Ticketsolve</a></h3>
</section>
{% endblock %}
