{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    How to Find Us
{% endblock %}

{% block slider %}
	{% include 'frontend/_partials/slider.twig' %}
{% endblock %}

{% block banner %}
<section class="wy-banner">
    <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
    <h1>How To<br />Find Us</h1>
</section>
{% endblock %}

{% block content %}
{% endblock %}
