{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    How to Find Us
{% endblock %}

{% block slider %}
	{% include 'frontend/_partials/slider.twig' %}
{% endblock %}

{% block banner %}
<section class="wy-banner">
    <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
    <h1>How To<br />Find Us</h1>
</section>
{% endblock %}

{% block content %}
<section class="wy-body">
    <h1 class="wy-body__title" style="color:#f53617">Arriving by Car: Directions &amp; Parking</h1>
    <p>Wyeside is located in a prominent position on the South bank of the Wye in the town of Builth Wells: next to the river bridge and opposite the brightly coloured Llewellyn mural.</p>
    <p>Wyeside has no visitor parking, but the Groe public car park is less than 200m walk away from the centre. Parking is free after 6pm.</p>

    <h2 class="wy-body__title" style="color:#f53617">From Swansea and the South West</h2>
    <p>Enter Builth Wells on the A483. At the roundabout, follow the A483 and the one-way system to the left, along Park Road, Church Street and The Strand. The Groe car park will be on your left. To reach Wyeside, turn left out of the car park along the Strand, and you will see Wyeside at the end of the road.</p>

    <h2 class="wy-body__title" style="color:#f53617">From Newtown and the North</h2>
    <p>Arrive at Builth Wells on the A483. Cross the bridge – you will pass Wyeside on your left. Follow the one-way system around to the right, along High Street and West Street. Where lanes diverge, turn right along Church Street. Turn right again. The Groe car park will be on your left, and Wyeside straight ahead.</p>

    <h2 class="wy-body__title" style="color:#f53617">From Brecon and the South East</h2>
    <p>Arrive at Builth Wells on the A470. You will pass Wyeside on your right opposite the Llewellyn mural. Turn left and follow the one-way system along the High Street and West Street. Where lanes diverge, turn right along Church Street. Turn right again. The Groe car park will be on your left, and Wyeside straight ahead.</p>

    <hr />

    <h1 class="wy-body__title" style="color:#f53617">Arriving by Bus</h1>
    <p>For the latest bus information, try the journey planner on Powys County Council’s public transport page. Alternatively, you can contact Traveline Cymru on  0871 200 22 33 (National Rate, 10p/min) or visit their website.</p>

    <hr />

    <h1 class="wy-body__title" style="color:#f53617">Arriving by Rail</h1>
    <p>The picturesque Heart of Wales line passes through Builth Road Station, which can be found 2 miles north of Builth Wells just off the A470 to Rhayader. The Heart of Wales line runs regular services between Swansea and Shrewsbury, and is part of the national rail network. More information is available from the Heart of Wales website  or  from National Rail. Please be aware that you may need a taxi between the station and the centre, and that as Builth Road is a request stop, you will need to flag the train down if you wish to get on.</p>

    <hr />

    <h1 class="wy-body__title" style="color:#f53617">Places to Stay</h1>
    <p>(The list below is for our vistors’ information only, and is not in any way a guarantee of service.)</p>
    <ul>
        <li>- Caer Beris Manor Hotel, 10 minutes’ walk from the centre of Builth Wells / Wyeside</li>
        <li>- Llanelwedd Arms Hotel 2 minutes’ walk from Wyeside</li>
        <li>- Plasnewydd Bed and Breakfast, Llanwrtyd Wells: 3 miles from Builth Wells</li>
        <li>- Wales Holidays Newtown: 32 Miles from Builth Wells. <a href="tel:01686 628200">01686 628200</a>, <a href="mailto:info@walescottageholidays.co.uk">info@walescottageholidays.co.uk</a></li>
    </ul>
    <p>Is your B&amp;B / hotel not listed? Contact <a href="mailto:marketing@wyeside.co.uk">marketing@wyeside.co.uk</a> to be considered for inclusion.</p>

    <hr />
</section>
{% endblock %}
