{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    Food and Drink
{% endblock %}

{% block slider %}
	{% include 'frontend/_partials/slider.twig' %}
{% endblock %}

{% block banner %}
<section class="wy-banner">
    <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
    <h1>Food<br />&amp; Drink</h1>
</section>
{% endblock %}

{% block content %}
<section class="wy-body">
    <h1 class="wy-body__title" style="color:#f53617">Bars and Café</h1>
    <p>Wyeside’s foyer café is available throughout the centre’s opening hours, and serves a range of soft drinks, snacks and tea.
        Thanks to a generous donation from the Friends of Wyeside, we are also able to provide creamy lattes, rich espresso and frothy cappuccino.
        You can also make use of free wifi – just ask staff at the Box Office when you make your purchase. Wyeside’s foyer café is also a fully licensed bar,
        and alongside the Market Theatre bar, serves a range of beers, wines and spirits, which you are welcome to enjoy in either the Castle Cinema or Market Theatre.</p>

    <hr />
</section>
{% endblock %}
