{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    Food and Drink
{% endblock %}

{% block banner %}
<section class="wy-banner">
    <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
    <h1>Food<br />&amp; Drink</h1>
</section>
{% endblock %}

{% block content %}
<section class="wy-body">
    <h1 class="wy-body__title" style="color:#f53617">Food &amp; Drink</h1>
    <h2 class="wy-body__title" style="color:#f53617">Foyer Café and Market Bar</h2>

    <p>Our foyer café is available throughout our opening hours, and serves a range of soft drinks, snacks and tea. Thanks to a generous donation from the Friends of Wyeside, we are also able to provide creamy lattes, rich espresso’s and frothy cappuccino’s.</p>

    <p>Feel free to make use of our free wifi – just ask staff at the Box Office when you make your purchase.</p>

    <p>Wyeside’s foyer café is also a fully licensed bar and - alongside the Market Theatre bar - serves a range of beers, wines and spirits.</p>

    <p>All of our customers are welcome to take their purchases into the auditorium with them – a rare luxury these days! We feel that there is nothing quite like watching your favourite performer while drinking a glass of locally brewed beer, or cwtching up to a good film with a steaming hot mug of Fairtrade coffee.</p>

    <hr />

    <img src="/img/frontend/img/food-and-drink.jpg" alt="Wyeside Arts Centre" style="margin:1em 0;"/>
</section>
{% endblock %}
