{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    Opening Hours
{% endblock %}

{% block banner %}
<section class="wy-banner">
    <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
    <h1>Opening<br />Hours</h1>
</section>
{% endblock %}

{% block content %}
<section class="wy-body">
    <h1 class="wy-body__title" style="color:#f53617">Opening Hours</h1>
    <h2 class="wy-body__title" style="color:#f53617">Box Office Opening Hours</h2>
    <p>Our Box Office is open from 12.30pm till 9pm Tuesday to Friday, and from 2pm till 9pm Saturday and Sunday.</p>
    <p>You can call us on 01982 552 555. Please call during opening hours and wait for the options, and hold the line to speak to a member of our Box Office team.  Please note that we may find it hard to answer the phone during busy periods. If you are struggling to get through, please wait for 30 minutes and then try again.</p>

    <hr />

    <img src="/img/frontend/img/opening-hours.jpg" alt="Wyeside Arts Centre" style="margin:1em 0;"/>
</section>
{% endblock %}
