{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    Opening Hours
{% endblock %}

{% block slider %}
	{% include 'frontend/_partials/slider.twig' %}
{% endblock %}

{% block banner %}
<section class="wy-banner">
    <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
    <h1>Opening<br />Hours</h1>
</section>
{% endblock %}

{% block content %}
{% endblock %}
