{% extends "frontend/_layouts/main.twig" %}

{% block title %}
    Opening Hours
{% endblock %}

{% block banner %}
<section class="wy-banner">
    <img src="/img/wyeside-logo.png" alt="Wyeside Arts Centre" />
    <h1>Opening<br />Hours</h1>
</section>
{% endblock %}

{% block content %}
<section class="wy-body">
    <h1 class="wy-body__title" style="color:#f53617">Opening Hours</h1>
    <p>The Box Office opens 30 minutes before a film screening, or 1 hour before a Live or Satellite Live! event.</p>
    <p>Outside of these times please email the Box Office for any reservations and enquiries.</p>

    <hr />
</section>
{% endblock %}
