body {
    background-color: #273A4A;
}

#wrapper {
    text-align: left;
}

#banner {
    width: 100%;
    border-top:solid 10px;
    border-bottom:solid 10px;
}

#heading {
    height:120px;
    text-align: center;
}

#loginForm .error {
    color: red;
    font-size: 0.9em;
    font-weight: bold;
    padding-bottom: 5px;
}

#loginForm {
    border: solid 6px #000;
    border-radius: 4px;
    width: 400px;
    display: inline-block;
    margin-top:80px;
    padding: 30px 15px;
    text-align: center;
}

#loginForm h1 {
    font-size: 1.1em;
    color: #333;
}

#loginForm p {
    font-size: 0.9em;
    color: #777;
}

#loginForm input {
    padding: 12px;
    font-size: 1.1em;
    width: 100%;
}