h1 {
    color:#fff;
    padding:10px 90px 10px 30px;
}

.image-wrapper {
    display: inline-block;
    background-color: #fff;
    padding:3px;
    border-radius: 2px;
    margin-right:10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.5);
}
.image-controls {
    background-color: #222;
    padding:8px;
    text-align: center;
    border-radius: 2px 2px 0px 0px;
    font-size:0.8em;
    color:#fff;
}
.image-main .image-controls{
    background-color: red;
}
.image-controls a {
    color:#fff;
    text-decoration: none;
}
.image-controls a:hover {
    text-decoration: underline;
}