{% extends "backend/_layouts/system.twig" %}

{% block head %}

{% endblock %}

{% block title %}Users{% endblock %}

{% block content %}
    <div class="block-dark">
        <h1>Users</h1>
        <div class="title-button" onclick="window.location.href='/system/users/create'">
            <img src="/img/backend/icons/add-user-64.png" style="width:24px;height:24px;">
            <span style="vertical-align:baseline;padding-left:10px;">New User</span>
        </div>
    </div>

    <div class="block-light">
        <table class="system-table table-striped">
            <tr>
                <th style="width:120px;">Username</th>
                <th>Email</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.getUsername() }}</td>
                    <td>{{ user.getEmail() }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}