<div id="navigation">
    <ul>
        <li{% if flash.module == 'events' %} class="current-module"{% endif %}><a href="/system/events"><img src="/img/backend/icons/video-play-2-64.png">Events</a></li>
        <li{% if flash.module == 'users' %} class="current-module"{% endif %}><a href="/system/users"><img src="/img/backend/icons/user-64.png">Users</a></li>
        <hr>
        <li><a href="/system/logout"><img class="" src="/img/backend/icons/logout-64.png">Logout</a></li>
    </ul>
</div>